div.row
  div.col-lg-3.col-md-6.col-sm-6.col-xs-12.cursor-pointer
    a(data-ng-click="vm.notImplemented()")
      div.card.green.summary-inline
        div.card-body.clearfix
          i.icon.fa.fa-inbox.fa-4x
          div.content
            div.title 12
            div.sub-title Languages


  div.col-lg-3.col-md-6.col-sm-6.col-xs-12.cursor-pointer
    a(data-ng-click="vm.notImplemented()")
      div.card.yellow.summary-inline
        div.card-body.clearfix
          i.icon.fa.fa-inbox.fa-4x
          div.content
            div.title 531
            div.sub-title All keys


  div.col-lg-3.col-md-6.col-sm-6.col-xs-12.cursor-pointer
    a(data-ng-click="vm.notImplemented()")
      div.card.red.summary-inline
        div.card-body.clearfix
          i.icon.fa.fa-inbox.fa-4x
          div.content
            div.title 57
            div.sub-title Missing keys


  div.col-lg-3.col-md-6.col-sm-6.col-xs-12.cursor-pointer
    a(data-ng-click="vm.notImplemented()")
      div.card.green.summary-inline
        div.card-body.clearfix
          i.icon.fa.fa-inbox.fa-4x
          div.content
            div.title 123
            div.sub-title Something

