div.row
  div.col-lg-3.col-md-6.col-sm-6.col-xs-12
    a(href="#")
      div.card.green.summary-inline
        div.card-body
          i.icon.fa.fa-inbox.fa-4x
          div.content
            div.title 12
            div.sub-title Languages
          div.clear-both

  div.col-lg-3.col-md-6.col-sm-6.col-xs-12
    a(href="#")
      div.card.yellow.summary-inline
        div.card-body
          i.icon.fa.fa-inbox.fa-4x
          div.content
            div.title 531
            div.sub-title All keys
          div.clear-both

  div.col-lg-3.col-md-6.col-sm-6.col-xs-12
    a(href="#")
      div.card.red.summary-inline
        div.card-body
          i.icon.fa.fa-inbox.fa-4x
          div.content
            div.title 57
            div.sub-title Missing keys
          div.clear-both

  div.col-lg-3.col-md-6.col-sm-6.col-xs-12
    a(href="#")
      div.card.green.summary-inline
        div.card-body
          i.icon.fa.fa-inbox.fa-4x
          div.content
            div.title 123
            div.sub-title Something
          div.clear-both
