.container-fluid
  .row
    .col-xs-12
      h1 {{ 'APP.ADMIN.PROJECT_EXPORTER.TITLE' | translate }}
      p {{ 'APP.ADMIN.PROJECT_EXPORTER.GENETAL_DESCRIPTION' | translate }}

  .row
    .col-md-12
      .card(style="overflow:visible")
        .card-header
          .card-title
            .title {{ 'APP.ADMIN.PROJECT_EXPORTER.EXPORTER.TITLE' | translate }}
        .card-body
          p {{ 'APP.ADMIN.PROJECT_EXPORTER.EXPORTER.GENETAL_DESCRIPTION' | translate}}
          form
            .row
              .col-sm-6
                .form-group
                  label(for='projectDefaultLanguageInput') {{ 'APP.ADMIN.PROJECT_EXPORTER.EXPORTER.WHICH_LANGUAGE_EXPORT' | translate }}
                  ui-select.form-control(ng-model="vm.languagesList.selected" theme="select2" title="{{ 'APP.ADMIN.PROJECT_SETTINGS.FIELD_PROJECT_DEFAULT_LANGUAGE_PLACEHOLDER' | translate }}" on-select="vm.setSelectedLanguage($item)")
                    ui-select-match(placeholder="{{ 'APP.ADMIN.PROJECT_SETTINGS.FIELD_PROJECT_DEFAULT_LANGUAGE_PLACEHOLDER' | translate }}") {{ $select.selected.nameNative }}
                    ui-select-choices(repeat="item in vm.languagesList | filter: $select.search")
                      div(ng-bind-html="item.nameNative | highlight: $select.search")
                      small(ng-bind-html="item.ietfCode | highlight: $select.search")
            button.btn.btn-default(type='submit' data-ng-click="vm.export()") Export

            .preview(data-ng-show="vm.exportedText")
              h2 Preview
              pre
                | {{ vm.exportedText|json}}


   //-h2 Debug variables
   //-pre
     //-| vm.currentProject: {{vm.currentProject|json}}
     //-| vm.languagesList: {{vm.languagesList|json}}
     //-| vm.languagesList.selected: {{vm.languagesList.selected|json}}

