.primary-containter
  md-toolbar(layout='row')
    .md-toolbar-tools

      h1.md-toolbar-tools(flex='40')
        | Language
        md-menu(md-offset='0 -5' flex="1")
          md-button.md-icon-button(aria-label='Open project menu', ng-click='$mdOpenMenu()')
            md-tooltip
              | Choose language
            md-icon(md-menu-origin='' flex) keyboard_arrow_down
          md-menu-content(width='4')
            md-menu-item(ng-repeat='item in [1, 2, 3]')
              md-button(ng-click='ctrl.announceClick($index)')
                span(md-menu-align-target='') Language
                |  {{item}}

      //div.missingTranslations
      //    md-icon.redIcon warning
      //    span Current missing translations: 78
      form
        md-input-container
          label Search a phrase
          input(type='text' ng-model='project.rate')

      md-button.md-icon-button(ng-click="toogleSidenav('left')")
        md-icon(flex) more_vert
      span(flex)
      div.inlineBlock
          md-input-container.padding-bottom-0
            md-select(ng-model="filter.translation" aria-label="translations")
              md-option(ng-repeat="single in static.translation track by $index" value="{{single}}") {{single}}
      div.inlineBlock
          md-input-container.padding-bottom-0
            md-select(ng-model="filter.plural" aria-label="plural forms")
              md-option(ng-repeat="single in static.plurals track by $index" value="{{single}}") {{single}}



  div
    dtable.translationTables(options="options" rows="data" class="material")

