.row
  .col-md-12
    .card
      .card-body
        .panel.panel-info(data-ng-hide="vm.displayedCollection.length")
          .panel-heading
            | {{  'APP.FRONTEND_MESSAGES.PROGRAMMER_VIEW.NO_INDEX_KEYS_AVAILABLE_FOR_CURRENT_PROJECT' | translate }}
          .panel-body
            | {{  'APP.FRONTEND_MESSAGES.PROGRAMMER_VIEW.ADD_NEW_INDEX_KEY' | translate }}
        table.table.table-striped(data-ng-show="vm.displayedCollection.length" search-watch-model="vm.query" st-safe-src="vm.tableData" st-table="vm.displayedCollection")
          thead
            tr
              th(st-sort="vm.keyString") {{ 'APP.FRONTEND_MESSAGES.PROGRAMMER_VIEW.INDEX_KEY_NAME' | translate }}
              th(st-sort="vm.keyString") {{ 'APP.FRONTEND_MESSAGES.PROGRAMMER_VIEW.IS_PLURAL' | translate }}
              th {{ 'APP.FRONTEND_MESSAGES.PROGRAMMER_VIEW.BASIC_TRANSLATION' | translate }} ({{ vm.currentProject.defaultLanguage.nameNative }})
              th {{ 'APP.FRONTEND_MESSAGES.PROGRAMMER_VIEW.CONTEXT_DESCRIPTION' | translate }} ({{ vm.currentProject.defaultLanguage.nameNative }})
              th {{ 'GENERAL.MODIFY' | translate }}
            tbody
              tr(data-ng-repeat="singleRow in vm.displayedCollection")
                td {{singleRow.keyString}}
                td(data-ng-class="vm.whatClass(singleRow.isPlural)") {{singleRow.isPlural}}
                td(data-ng-if="singleRow.isPlural")
                  p(data-ng-repeat="x in singleRow.translations")
                    strong {{ vm.getNameOfPlural(x.pluralForm) }}:
                    span  {{ x.translatedPhrase }}
                td(data-ng-hide="singleRow.isPlural") {{singleRow.translations[0].translatedPhrase}}
                td {{singleRow.translations[0].description}}
                td
                  button.btn.btn-xs.btn-info(data-ng-click="vm.editRow(singleRow.id)") {{ 'GENERAL.EDIT' | translate }}

        button.addButtonPosition.btn.btn-primary.btn-circle(type="button" data-ng-click="vm.addNewKey()" title="{{ 'APP.FRONTEND_MESSAGES.PROGRAMMER_VIEW.ADD_NEW_TRANSLATION_KEY' | translate }}")
          i.fa.fa-plus

    //- h2 Debug variables
    //- pre
    //-   | vm.currentProject {{vm.currentProject|json}}
    //-   | vm.tableData {{vm.tableData|json}}
