node_modules/
vendor/
public
.idea
.env
.DS_Store
*.log

###############################
## Wiki pages
##############################
wiki/


########################################
# Gulp temporary files
########################################
gulp-build
