node_modules/
vendor/
public
.idea
.env
.DS_Store
*.log
datasources.json

###############################
## Wiki pages
##############################
wiki/


########################################
# Gulp temporary files
########################################
gulp-build

*.sqlite
