.row
  .col-xs-6
    p
      strong {{ unselectedTitle | translate }}
    .list-group
      a.list-group-item.disabled(href="" data-ng-if="isUnselectedListEmpty()") Empty table
      a.list-group-item(href="" data-ng-repeat="item1 in leftLanguages" data-ng-click="addToSelectedList(item1.id)" title="{{item1.nameNative}} ({{item1.nameEnglish}})")
        span  {{ item1.nameNative }}, {{item1.ietfCode}}
        i.pull-right.fa.fa-arrow-right

  .col-xs-6
    p
      strong {{ selectedTitle | translate }}
    .list-group
      a.list-group-item.disabled(href="" data-ng-if="isSelectedListEmpty()") Empty table
      a.list-group-item(href="" data-ng-repeat="item2 in choosenLanguages" data-ng-click="addToUnselectedList(item2.id)" title="{{item2.nameNative}} ({{item2.nameEnglish}})")
        i.fa.fa-arrow-left
        span  {{ item2.nameNative }}, {{item2.ietfCode}}

  //- pre
  //-   | choosenLanguages: {{choosenLanguages|json}}
  //-   | leftLanguages: {{leftLanguages|json}}
