.container-fluid
  .row
    .col-xs-12
      h1 {{ 'APP.ADMIN.NEW_PROJECT.TITLE' | translate }}
      p {{ 'APP.ADMIN.NEW_PROJECT.GENETAL_DESCRIPTION' | translate }}

  .row
    .col-md-12
      .card
        .card-body
          .panel.panel-info(data-ng-hide="vm.projects.length")
            .panel-heading
              | {{  'APP.ADMIN.NEW_PROJECT.FRONTEND_MESSAGES.NO_PROJECTS_AVAILABLE' | translate }}
            .panel-body
              | {{  'APP.ADMIN.NEW_PROJECT.FRONTEND_MESSAGES.ADD_NEW_PROJECT' | translate }}
          table.table.table-striped(data-ng-show="vm.projects.length" search-watch-model="vm.query" st-safe-src="vm.tableData" st-table="vm.displayedCollection")
            thead
              tr
                th {{ 'APP.ADMIN.NEW_PROJECT.TABLE.ID' | translate }}
                th {{ 'APP.ADMIN.NEW_PROJECT.TABLE.PROJECT_NAME' | translate }}
                th {{ 'APP.ADMIN.NEW_PROJECT.TABLE.PROJECT_DESCRIPTION' | translate }}
                th {{ 'APP.ADMIN.NEW_PROJECT.TABLE.PREFIX_NAMESPACE' | translate }}
                th {{ 'APP.ADMIN.NEW_PROJECT.TABLE.DEFAULT_LANGUAGE' | translate }}
                th {{ 'APP.ADMIN.NEW_PROJECT.TABLE.DELETE_PROJECT' | translate }}
            tbody
              tr(data-ng-repeat="singleRow in vm.projects")
                td {{singleRow.id}}
                td {{singleRow.name}}
                td {{singleRow.description}}
                td {{singleRow.prefixNamespace}}
                td {{singleRow.defaultLanguage.nameNative}}
                td
                  button.btn.btn-xs.btn-danger(data-ng-click="vm.deleteProject($index)")
                    | {{ 'APP.ADMIN.NEW_PROJECT.DELETE' | translate }}

          button.addButtonPosition.btn.btn-primary.btn-circle(type="button" data-ng-click="vm.addNewProject()" title="{{ '' | translate }}")
            i.fa.fa-plus

       //-h2 Debug variables
       //-pre
         //-| vm: {{vm|json}}
