button.addButtonPosition.btn.btn-primary.btn-circle(type="button" data-ng-click="open()")
  i.fa.fa-plus
table.table.table-striped(search-watch-model="query" st-safe-src="tableData" st-table="displayedCollection")
    thead
        tr
            th(st-sort="keyString") Index key name
            th Basic translation: English (English)
            th Context Description
    tbody
        tr(data-ng-repeat="singleRow in displayedCollection")
            td {{singleRow.keyString}}
            td mock1
            td mock2

