md-toolbar(layout='row')
  .md-toolbar-tools
    md-button.md-icon-button(ng-click="toogleSidenav('left')", hide-gt-sm='')
      md-icon(flex) menu
    h1


md-whiteframe.md-whiteframe-2dp(flex=100 layout-align="center center")
  span Some tricky title

