tr-top-bar(filter='filter')

div
  dtable.translationTables(options="options" rows="data" class="material")

span(flex)
div.margin-30(layout='row')
  span(flex)
  md-button.md-fab.md-primary(aria-label="Profile")
    md-icon.material-icons add
