table.table.table-striped(search-watch-model="vm.query" st-safe-src="vm.tableData" st-table="vm.displayedCollection")
  thead
    tr
      th Group
      th
        select.form-control(data-ng-model="vm.translateLanguage"
        data-ng-options="opt.nameEnglish disable when opt.id==1 for opt in vm.allLanguages "
        data-ng-change="vm.updateLanguage(vm.translateLanguage)")
      th Context Description
      th Default language: English (en-US)
      th Delete translation
  tbody
    tr(data-ng-repeat="singleRow in vm.displayedCollection")
      td {{singleRow.keyString}}
      td
        tr-edit-table(translate-val="singleRow.translations[1]" translate-object="singleRow")
      td {{singleRow.translations[0].description}}
      td {{singleRow.translations[0].translatedPhrase}}
      td
        button.btn.btn-xs.btn-danger(data-ng-click="vm.deleteTranslation($index)") DELETE
