table.table.table-striped(search-watch-model="vm.query" st-safe-src="vm.tableData" st-table="vm.displayedCollection")
  thead
    tr
      th Group
      th Context Description
      th Default language: English (en-US)
      th Polski (pl-PL)
  tbody
    tr(data-ng-repeat="singleRow in vm.displayedCollection")
      td {{singleRow.keyString}}
      td {{singleRow.translations[0].description}}
      td {{singleRow.translations[0].translatedPhrase}}
      td
        tr-edit-table(translate-val="singleRow.translations[1]" translate-object="singleRow")
