.app-container.expanded
  .row.content-container
    .top(ng-controller="SidenavController" ng-show="user.loggedIn")
      include topbar.partial.jade
      include sidenav.partial.jade
    .container-fluid(data-ui-view="")


