//only for logged users
div(ng-include="" flex="10" style="background-color: gray;" src="'templates/sidebar.tpl.html'")
div(layout="column" flex)
    div(class="md-padding" layout="row" layout-align="center center" flex data-ui-view='')
    div(ng-include="", src="'templates/footer.tpl.html'")