div(layout="row")
    div(layout="column" layout-align="center end" flex="33")
        div About project
        div Git repo
        div General info
    div(layout="column" layout-align="center center" flex="33")
        div Based on:
        div Angular
        div Node
    div(layout="column" flex="33")
        div Third Column
        div Awesome link
        div Awesome link
