div.paddingLeftRight-20(flex)
  div.projectTitle(flex='5' layout="row" layout-align="space-between center")
    span Project name
    md-icon.alignRight(flex) keyboard_arrow_down
  p.zeroMargin(flex='5') Jakub Pęksa

  //TODO switch brs to paddings
  br
  div(flex='5')
    md-icon.paddingRight-10 language
    span(class="alignCenter") Languages: 8
  div(flex='5')
    md-icon.paddingRight-10 vpn_key
    span(class="alignCenter") All keys: 1234
  br
  hr

  br
  div(flex='15' layout="row" layout-align="space-between center")
    span Languages
    md-icon.alignRight(flex) search
div(flex)



