div#sidenav.md-whiteframe-z2(ng-controller="SidenavController")
  md-sidenav.md-primary.site-sidenav.md-sidenav-left(layout="column" md-component-id='left' md-is-locked-open="$mdMedia('gt-sm')")
    md-toolbar(layout="column")
      header.md-toolbar-tools.fill-height
        img(width=40 src="https://material.angularjs.org/0.11.0/img/icons/angular-logo.svg")
        a(href="" ng-click="goTo('app.dashboard')") {{ currentProject.name }}
        span(flex)
        md-menu(md-offset='0 -5')
          md-button.md-icon-button(aria-label='Open project menu', ng-click='$mdOpenMenu()')
            md-tooltip
              | Project options
            md-icon(md-menu-origin='' flex) keyboard_arrow_down
          md-menu-content(width='4')
            md-menu-item
              md-button(ng-click='change()')
                i.material-icons(flex)
                span(md-menu-align-target='') Change project

      header.margin-left-20.margin-bottom-5(flex)
        span.md-body-2 {{ userdata.fullname }}
        br
        span.md-caption
          span {{ userdata.email }}
          span(flex)

          md-menu(md-offset='0 -5')
            md-button.md-icon-button(aria-label='Open user menu', ng-click='$mdOpenMenu()')
              md-tooltip
                | Project options
              md-icon(md-menu-origin='' flex) keyboard_arrow_down
            md-menu-content(width='4')
              md-menu-item
                md-button(ng-click='logout()')
                  i.material-icons.md-24(flex) exit_to_app
                  span(md-menu-align-target='') Logout user

    md-content(flex layout="column")
      p.margin-left-20
        i.material-icons.md-18.md-dark.md-inactive language
        span.md-body-1  Languages: {{ countLanguages }}

      p.margin-left-20
        i.material-icons.md-18.md-dark.md-inactive vpn_key
        span.md-body-1  All keys: {{ countKeys }}

      md-divider

      md-subheader Pages
      md-list
        md-list-item(ng-repeat="page in pages" ng-click="goTo(page.sref)" ng-class="{active: $state.includes('login')}")
          span {{page.name}}
        //- md-list-item(ng-repeat='page in pages')
        //-   p {{ page.name }}
        //-   md-checkbox.md-secondary(ng-model='page.wanted')

      md-divider

      md-subheader.md-no-sticky Clickable Items with Secondary Controls
      md-list-item(ng-click='navigateTo(setting.extraScreen, $event)', ng-repeat='setting in settings')
        md-icon(md-svg-icon='{{setting.icon}}')
        p  {{ setting.name }}
        md-switch.md-secondary(ng-model='setting.enabled')
      md-list-item(ng-click="navigateTo('data usage', $event)")
        p Data Usage



