div#sidenav.md-whiteframe-z2(ng-controller="SidenavController" ng-show="user.loggedIn")
  md-sidenav.md-primary.site-sidenav.md-sidenav-left(layout="column" md-component-id='left' md-is-locked-open="$mdMedia('gt-sm')")
    md-toolbar.md-primary.md-hue-2(layout="column")
      header.md-toolbar-tools.fill-height
        img(width=40 src="https://material.angularjs.org/0.11.0/img/icons/angular-logo.svg")
        a(href="" ng-click="goTo('app.dashboard')") {{ currentProject.name }}
        span(flex)
        md-menu(md-offset='0 -5')
          md-button.md-icon-button(aria-label='Open project menu', ng-click='$mdOpenMenu()')
            md-tooltip
              | Project's options
            md-icon(md-menu-origin='' flex) keyboard_arrow_down
          md-menu-content(width='4')
            md-menu-item
              md-button(ng-click='change()')
                i.material-icons(flex)
                span(md-menu-align-target='') Change project

      header.margin-left-20.margin-bottom-5(flex)
        span.md-body-2 {{ user.fullName }}
        br
        span.md-caption
          span {{ user.email }}
          span(flex)

          md-menu(md-offset='0 -5')
            md-button.md-icon-button(aria-label='Open user menu', ng-click='$mdOpenMenu()')
              md-tooltip
                | User's options
              md-icon(md-menu-origin='' flex) keyboard_arrow_down
            md-menu-content(width='4')
              md-menu-item
                md-button(ng-click='logout()')
                  div(layout="row")
                    p(flex) Logout user
                    md-icon.md-menu-align-target.material-icons.md-24 exit_to_app

    md-content.small-margin-span-list(flex layout="column")
      p
        i.material-icons.md-18.md-dark.md-inactive language
        span.md-body-1  Languages: {{ countLanguages }}
      p
        i.material-icons.md-18.md-dark.md-inactive vpn_key
        span.md-body-1  All keys: {{ countKeys }}

      md-divider

      md-subheader Pages
      md-list-item
        md-button(ui-sref="app.programmer-view" ui-sref-active="md-primary") Programmer view
      md-list-item
        md-button(ui-sref="app.manager-view" ui-sref-active="md-primary") Manager view
      md-list-item
        md-button(ui-sref="app.translator-view" ui-sref-active="md-primary") Translator view

      md-list-item(tr-access-level="accessLevels.management")
        md-button(ui-sref="app.admin.project-assignment" ui-sref-active="md-primary") Manage users
      md-list-item(tr-access-level="accessLevels.management")
        md-button(ui-sref="app.admin.new-project" ui-sref-active="md-primary") New project




      md-divider
      md-subheader Groups
      md-list-item(ng-repeat="group in groups")
        p  {{ group.namespace }}
        md-checkbox.md-secondary(ng-model='group.isActive')

      md-divider

      md-subheader.md-no-sticky Clickable Items with Secondary Controls
      md-list-item(ng-click='navigateTo(setting.extraScreen, $event)', ng-repeat='setting in settings')
        md-icon(md-svg-icon='{{setting.icon}}')
        p  {{ setting.name }}
        md-switch.md-secondary(ng-model='setting.enabled')
      md-list-item(ng-click="navigateTo('data usage', $event)")
        p Data Usage



