.side-menu
  nav.navbar.navbar-default(role="navigation")
    .side-menu-container
      .navbar-header
        a.navbar-brand(ui-sref="app.manager.dashboard")
          .icon.fa.fa-paper-plane
          .title {{ currentProject.name }} Jakaś nazwa
        button.navbar-expand-toggle.pull-right.visible-xs(type="button")
          i.fa.fa-times.icon
      ul.nav.navbar-nav
        li(ui-sref-active="active")
          a(ui-sref="app.manager.dashboard")
            span.icon.fa.fa-tachometer
            span.title Dashboard
        li(ui-sref-active="active")
          a(ui-sref="app.programmer-view")
            span.icon.fa.fa-list-alt
            span.title Programmer view

        li(ui-sref-active="active")
          a(ui-sref="app.manager-view")
            span.icon.fa.fa-area-chart
            span.title Manager view

        li(ui-sref-active="active")
          a(ui-sref="app.translator-view")
            span.icon.fa.fa-table
            span.title Translator view
        li.panel.panel-default.dropdown(ui-sref-active="active")
          a.cursor-pointer(data-toggle="collapse", data-target="#dropdown-element")
            span.icon.fa.fa-cog
            span.title Project management
          #dropdown-element.panel-collapse.collapse
            .panel-body
              ul.nav.navbar-nav
                li
                  a(data-ui-sref="app.admin.user-assignment") User assignment
                li
                  a(data-ui-sref="app.admin.project-settings") Project settings



