nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container-fluid
    .navbar-header
      button.navbar-expand-toggle(type="button")
        i.fa.fa-bars.icon
      ol.breadcrumb.navbar-breadcrumb
        li.active Project: {{ vm.currentProject.name }}
      button.navbar-right-expand-toggle.pull-right.visible-xs(type="button")
        i.fa.fa-th.icon
    ul.nav.navbar-nav.navbar-right
      li.dropdown.info
        a.dropdown-toggle.cursor-pointer(data-ui-sref="app.choose-project") Change project


      li.dropdown.profile
        a.dropdown-toggle(href="" data-toggle="dropdown" role="button" aria-expanded="false") {{ vm.account.username }}
          span.caret
        ul.dropdown-menu.animated.fadeInDown
          li
            .profile-info
              h4.username {{ vm.account.username }}
              p {{ vm.account.email }}
              .btn-group.margin-bottom-2x(role="group")
                button.btn.btn-default(type="button")
                  i.fa.fa-sign-out(ng-click="logout()") Logout
