div(flex class="md-padding" layout="row" layout-fill layout-align="center center")
  md-whiteframe-z1(layout-align="center center")
    form(name="loginForm")
      md-content(layout-padding class="autoScroll")
        md-input-container.md-icon-float
          label Email
          md-icon email
          input(data-ng-model="user.email" name="email" type="text")
        md-input-container.md-icon-float
          label Password
          md-icon lock
          input(data-ng-model="user.password" name="password" type="password")
        md-input-container.md-icon-float.register(data-ng-show="showRegistration" ng-animate="'animate'")
          label Repeat password
          md-icon lock
          input(data-ng-model="user.repeatPassword" name="repeatPassword" type="password")
        md-input-container.md-icon-float.register(data-ng-show="showRegistration" ng-animate="'animate'")
          label Username
          md-icon person
          input(data-ng-model="user.username" name="username" type="text")
        md-button.md-raised(data-ng-show="!showRegistration" data-ng-click="toggleRegister()") Register
        md-button.md-raised.md-primary(data-ng-show="!showRegistration" data-ng-click="login()" autofocus="") Login
        md-button.md-raised(data-ng-show="showRegistration" data-ng-click="toggleRegister()") Cancel
        md-button.md-raised.md-primary(data-ng-show="showRegistration" data-ng-click="register()") Complete

