md-content#login-page(flex layout="column" layout-align="center center")
  div(layout="column")
    md-whiteframe(flex layout="row" layout-align="center center")
      img(src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" height=40)
      h2  Translation manager
    md-whiteframe.md-whiteframe-3dp.round-borders-5(flex=30 layout="row" layout-align="center center")
      form(name="loginForm")
        md-content.round-borders-5.padding-30(layout-padding class="autoScroll")
          p.margin-top-0.margin-bottom-20.md-caption Login with your translation manager account
          md-input-container.md-icon-float
            label Email
            md-icon.material-icons.md-dark.md-inactive email
            input(data-ng-model="user.email" name="email" type="text" tabindex=1 autofocus="")
          md-input-container.md-icon-float
            label Password
            md-icon.material-icons.md-dark.md-inactive lock
            input(data-ng-model="user.password" name="password" type="password" tabindex=2)
          md-input-container.md-icon-float.register(data-ng-show="showRegistration" ng-animate="'animate'")
            label Repeat password
            md-icon.material-icons.md-dark.md-inactive lock_outline
            input(data-ng-model="user.repeatPassword" name="repeatPassword" type="password" tabindex=3)
          md-input-container.md-icon-float.register(data-ng-show="showRegistration" ng-animate="'animate'")
            label First Name
            md-icon.material-icons.md-dark.md-inactive person
            input(data-ng-model="user.firstName" name="firstName" type="text" tabindex=4)
          md-input-container.md-icon-float.register(data-ng-show="showRegistration" ng-animate="'animate'")
            label Last Name
            md-icon.material-icons.md-dark.md-inactive person
            input(data-ng-model="user.lastName" name="lastName" type="text" tabindex=4)
          div(flex layout="row")
            md-button.md-raised(flex data-ng-show="!showRegistration" data-ng-click="toggleRegister()" tabindex=6) Register
            md-button.md-raised.md-accent(flex data-ng-show="!showRegistration" data-ng-click="login()" tabindex=5) Login
            md-button.md-raised.md-warn(flex data-ng-show="showRegistration" data-ng-click="toggleRegister()" tabindex=8) Cancel
            md-button.md-raised.md-accent(flex data-ng-show="showRegistration" data-ng-click="register()" tabindex=7 ) Complete

