//variables



//classes
.sideBar
  background-color: #f5f5f5
.projectTitle
  font-size: 32px

.paddingLeftRight-20
  padding-left: 20px
  padding-right: 20px

.paddingRight-10
  padding-right: 10px

.zeroMargin
  margin: 0px

.paddingBottom-1
  padding-bottom: 0px

.alignCenter
  text-align: center

.alignRight
  text-align: right

.alignLeft
  text-align: left

.dashboardMainFrame
  border-bottom-style: solid
  border-width: 2px
  background-color: rgb(63,81,181)

.sidebarFrame
  border-right-style: solid
  border-width: 2px


.missingTranslations
  color: pink
  font-size: 14px

.redIcon
  font-size: 14px
  color: pink !important

.mainTable
  font-size: 13px

.inlineBlock
  display: inline-block

.width40p
  width: 40%

.width50p
  width: 50%
