.container-fluid
  .row
    .col-xs-12
      h1 Project settings
      p {{ 'PAGE.TITLE.ADMINISTRATOR.PROJECT_SETTINGS' | translate }}

  .row
    .col-md-12
      h2 {{ 'APP.ADMIN.PROJECT_SETTINGS.SECTION_ABOUT' | translate }}
      p {{ 'APP.ADMIN.PROJECT_SETTINGS.SECTION_ABOUT_GENERAL_DESCRIPTION' | translate}}
      .row
        .col-md-6
          form
            .form-group
              label(for="projectNameInput") {{ 'APP.ADMIN.PROJECT_SETTINGS.FIELD_PROJECT_NAME_LABEL' | translate }}
              input.form-control(name="projectNameInput" type="text", placeholder="{{ 'Type name for the project' | translate }}" data-ng-model="vm.currentProject.name")
            .form-group
              label(for='projectDescriptionInput') {{ 'APP.ADMIN.PROJECT_SETTINGS.FIELD_PROJECT_DESCRITPION_LABEL' | translate }}
              textarea.form-control(name="projectDescriptionInput" rows="3" placeholder="{{ 'APP.ADMIN.PROJECT_SETTINGS.FIELD_PROJECT_DESCRITPION_PLACEHOLDER' | translate }}" data-ng-model="vm.currentProject.description")
            button.btn.btn-default(type='submit') Save
      hr.col-md-12


      h2 {{ 'APP.ADMIN.PROJECT_SETTINGS.SECTION_DATE_AND_TIME' | translate }}
      p {{ 'APP.ADMIN.PROJECT_SETTINGS.SECTION_DATE_AND_TIME_GENERAL_DESCRIPTION' | translate }}
      .alert.alert-warning(role="alert")
        | Warrning: {{ 'APP.FRONTEND_MESSAGES.THIS_FEATURE_IS_NOT_YET_READY' | translate}}
      hr.col-md-12


      h2 {{ 'APP.ADMIN.PROJECT_SETTINGS.SECTION_WORKFLOW' | translate }}
      p {{ 'APP.ADMIN.PROJECT_SETTINGS.SECTION_WORKFLOW_GENERAL_DESCRIPTION' | translate }}

      .alert.alert-warning(role="alert")
        | Warrning: {{ 'APP.FRONTEND_MESSAGES.THIS_FEATURE_IS_NOT_YET_READY' | translate}}

      .row
        .col-md-6
          form(role="form" name="settingsWorkflowForm" data-ng-submit="settingsWorkflowForm.$valid && registerUser()")
            .form-group
              label(for="outputCaseTypeInput") {{ 'APP.ADMIN.PROJECT_SETTINGS.FIELD_OUTPUT_CASE_TYPE_LABEL' | translate }}:
              select.form-control(name="outputCaseTypeInput")
                option(data-ng-repeat="x in vm.outputCaseTypes" value="x.type") {{x.name}}

            .form-group
              label(for="namespaceSeparatorInput") {{ 'APP.ADMIN.PROJECT_SETTINGS.FIELD_NAMESPACE_LABEL' | translate }}:
              select.form-control(name="outputCaseTypeInput" data-ng-model="vm.settings.workflow.namespace.separator")
                option(data-ng-repeat="separator in vm.settings.workflow.namespace.separators_list" value="{{separator}}") {{separator}}

        .col-md-6
          h4 Live examples:
          ol
            li
              strong Standard key index:
              |  {{ vm.examples.one() }}

          br

          input.form-control(data-ng-model="vm.vars.first_namespace")
          input.form-control(data-ng-model="vm.vars.second_namespace")
          input.form-control(data-ng-model="vm.vars.key_index_string")


      button.btn(contenteditable='false') Run Network Diagnostic
    .span9
