md-toolbar(layout='row')
  .md-toolbar-tools
    md-button.md-icon-button(ng-click="toggleSidenav('left')", hide-gt-sm='')
      md-icon(aria-label='Menu', md-svg-icon='https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg')
    h1 Hello World

md-content.md-padding(layout='column', flex='')
  p some text
