form()
  .modal-header
    h3 {{ 'COMMON.TEMPALTES.DIALOG.ADD_TRANSLATION_KEY_MODAL.ADD_NEW_TRANSLATION_KEY' | translate }} ({{vm.meta.projectLanguage}})

  tr-waiting-spinner-div(is-pending="vm.isPending && !vm.isPluralFormsLoaded")

  h2.text-center(data-ng-show="vm.isPending && vm.isPluralFormsLoaded")
    | Saving translation key ...

  .modal-body(data-ng-hide="vm.isPending")
    .row
      .col-sm-4(style="margin:0")
        .form-group
          label.control-label {{ 'COMMON.TEMPALTES.DIALOG.ADD_TRANSLATION_KEY_MODAL.KEY_INDEX_TYPE' | translate }}
          select.form-control(data-ng-model="vm.translationKey.type")
            option(value="string") {{ 'COMMON.TEMPALTES.DIALOG.ADD_TRANSLATION_KEY_MODAL.STRING' | translate }}
            option(value="plural") {{ 'COMMON.TEMPALTES.DIALOG.ADD_TRANSLATION_KEY_MODAL.PLURAL_FORMS' | translate }}
    .row
      .col-sm-6(style="margin:0")
        .form-group
          label(for="namespaceInput") {{ 'COMMON.TEMPALTES.DIALOG.ADD_TRANSLATION_KEY_MODAL.NAMESPACE' | translate }}
          input.form-control(id="namespaceInput" type="text" placeholder="ex: dashboard.account" data-ng-model="vm.namespace" uib-typeahead="singleNamespace.namespace for singleNamespace in vm.getNamespaces($viewValue)" autocomplete="off")

      .col-sm-6(style="margin:0")
        .form-group
          label(for="keyString") {{ 'COMMON.TEMPALTES.DIALOG.ADD_TRANSLATION_KEY_MODAL.KEY_INDEX' | translate }}
          input.form-control(id ="keyString" type="text" placeholder="ex: edit my account" data-ng-model="vm.translationKey.keyString")

    .form-group(data-ng-show="vm.isPlural()")
      label.control-label {{ 'COMMON.TEMPALTES.DIALOG.ADD_TRANSLATION_KEY_MODAL.PLURAL_FORMS' | translate }} ({{vm.meta.projectLanguage}})
      .row
        .col-sm-12(style="margin:0; float: left")
          .form-group.col-sm-6(data-ng-repeat="n in vm.plurals")
            label {{vm.getNameOfPlural(n.pluralForm)}}
            input.form-control(type="text" data-ng-model="n.pluralTranslationString" placeholder="")

    .form-group(data-ng-show="!vm.isPlural()")
      label.control-label {{ 'COMMON.TEMPALTES.DIALOG.ADD_TRANSLATION_KEY_MODAL.DEFAULT_TRANSLATION' | translate }} ({{vm.meta.projectLanguage}})
      input.form-control(type="text" placeholder="How should sound a translation ({{vm.meta.projectLanguage}})" data-ng-model="vm.translation.translatedPhrase")

    //- TODO to add this feature we need create service with naming/case conventions https://en.wikipedia.org/wiki/Naming_convention_(programming)
    .form-group
      label.control-label {{'COMMON.TEMPALTES.DIALOG.ADD_TRANSLATION_KEY_MODAL.LIVE_PREVIEW_RESULT' | translate }}
      .panel.panel-warning
        .panel-body
          | {{ 'APP.FRONTEND_MESSAGES.THIS_FEATURE_IS_NOT_YET_READY' |  translate }}&nbsp;
          span(translate="APP.FRONTEND_MESSAGES.EXPECTED_PROVIDING_THE_FUNCTIONALITY_IS_@_MILESTONE" translate-values="{name: 'alpha 2'}")


    .form-group
      label.control-label(for="descriptionInput") {{ 'COMMON.TEMPALTES.DIALOG.ADD_TRANSLATION_KEY_MODAL.CONTEXT_DESCRIPTION' | translate }}
      textarea.form-control(id="descriptionInput" data-ng-model="vm.translation.description" rows="2" placeholder="Simple description better describing current index key for translator if necessary")

  .modal-footer
    button.btn.btn-success.pull-right(type="button" ng-click="vm.saveTranslationKey()" data-ng-disabled="vm.isPending")
      tr-waiting-spinner-span(is-pending="vm.isPending")
      |  {{ 'GENERAL.CREATE' | translate }}
    button.btn.btn-info.pull-right.margin-right-15(type="button" ng-click="vm.cleanForm()" data-ng-disabled="vm.isPending") {{ 'GENERAL.CLEAN_FORM' | translate }}
    button.btn.btn-warning.pull-right(type="button" ng-click="vm.cancel()" data-ng-disabled="vm.isPending") {{ 'GENERAL.CANCEL' | translate }}

  //- h2 Debug variables
  //- pre
  //-   | vm.isPending {{vm.isPending|json}}
  //-   | vm.currentProject {{vm.currentProject|json}}
  //-   | vm.plurals {{vm.plurals|json}}
