md-dialog(flex="40")
    md-content(layout-padding ng-cloak)
      form(name="userForm")
        h2 Add new key
        div(layout layout-sm="column")
          span.padding-top-5(flex="25") Key index type:
          md-radio-group(ng-model="currentKey.isPlural")
            md-radio-button(data-ng-value="false") String
            md-radio-button(data-ng-value="true") Plural
        div(layout layout-sm="column")
          md-input-container(flex)
            label Group/namespace
            input(data-ng-model="currentKey.group")
          md-input-container(flex)
            label Key Index
            input(data-ng-model="currentKey.key")
        div(layout layout-sm="column")
          p(flex="25") Preview:
          p {{ currentKey.group + currentKey.key }}
        md-input-container(data-ng-if="!currentKey.isPlural")
          label Translation
          input(data-ng-model="currentKey.translation")
        div(data-ng-if="currentKey.isPlural")
          p Plural forms
          md-input-container(data-ng-repeat="singlePlural in languagePlurals")
            label {{ singlePlural.plural }}
            input(data-ng-model="singlePlural.key")
        md-input-container
          label Context description
          textarea(data-ng-model="currentKey.description" columns="1" md-maxlenght="100")
      div(layout layout-sm="column")
        span(flex)
        md-button(data-ng-click="closeDialog()") Cancel
        md-button(data-ng-click="saveKey()") Add


