div#modalDefault.modal.fade(aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;")
    div.model-dialog
        div.modal-content
            div.modal-content test
